<!--
 * COMP229-015    Group 7
 * Group Project  Part 4 Final Release 
 * Project Name:  Survey Donkey
 * 
 * Members (name/student ID):
 * Alina Fadeeva – 301249589
 * Nadia Velikaia – 301244426
 * Terence Chu – 301220117
 * Zhihao Yu – 301305633
 * Akash Arora – 300849838
 * Nithiyavany Vijai – 301212774
 * 
 * File name:     edit.ejs
 * Description:   Edit survey page
-->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Edit page -->
<br> <br> <br>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            
            <!-- The survey types Multiple Choice and Short Answers share the following in the Edit Survey page:
                 - Page Title field
                 - Survey Title field
                 - Survey Description field
                 - End Date field
                 - Question field
                 - Submit button
                 - Delete button
                 - Cancel button
                
                The only difference is the 4 option textboxes for Multiple Choice. Use if logic to determine whether those boxes should be available. -->

            <h1><%= title %></h1>
           
            <form class="form" method="POST">
                <div class="form-group mt-3 mb-3">
                    <label for="nameTextField">Survey Title</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Survey Title" value="<%= survey.title %>" name="title" required>
                </div>
               
                <div class="form-group mb-3">
                    <label for="descriptionTextField">Survey Description</label>
                    <textarea type="text" class="form-control" id="descriptionTextField" placeholder="Type Survey Description" value="<%= survey.description %>" name="description" required>
                    </textarea>
                </div>
                

                <!-- To insert a date into the date field, use value="yyyy-mm-dd". This will have to be created by extracting the relevant values from endDate -->
                <!-- < % (without equal sign) is good for control-flow and does not output a value (per EJS documentation @ https://ejs.co/#:~:text=%3C%25%20%27Scriptlet%27%20tag,whitespace%20after%20it) -->
                <!--    so it is good for variable declaration -->
                <% year = new Date(survey.endDate).getFullYear(); %>
                <% month = new Date(survey.endDate).getMonth() + 1; %> <!-- Need to add 1 because .getMonth() returns zero-based months, i.e., January is 0, February is 1,... -->
                <% day = new Date(survey.endDate).getDate().toString().padStart(2, '0'); %> <!-- To add a zero in front of the day of the month (to look something like 05), convert the date to a string 
                                                                                                 and call the .padStart() method. .padStart(2, '0') will add 0s in front of the day until the 
                                                                                                 length of the string is 2. If the length of the string is already 2 (for example, 16), no padding
                                                                                                 will be applied. -->
             
                <div class="form-group mb-3">
                    <label for="endDate">End Date</label>
                    <input type="date" class="form-control" id="endDate" value="<%= year + "-" + month + "-" + day%>" name="endDate" required> <!-- Build the value attribute -->
                </div>
                
                <div class="form-group mb-3">
                    <label for="q1TextField">Question</label>
                    <input type="text" class="form-control" id="q1TestField" placeholder="Type Question" name="q1" value="<%= survey.q1 %>" required>
                </div>
                

                <% if(surveyType == 'Multiple Choice') { %>

                    <div class="form-group mb-3">
                        <label for="q1Opt1TextField"> Option 1 </label>
                        <input type="text" class="form-control" id="q1Opt1TextField" placeholder="Set Option 1" value="<%= survey.q1Opt1 %>" name="q1Opt1" required>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="q1Opt2TextField">Option 2</label>
                        <input type="text" class="form-control" id="q1Opt2TextField" placeholder="Set Option 2" value="<%= survey.q1Opt2 %>" name="q1Opt2" required>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="q1Opt3TextField">Option 3</label>
                        <input type="text" class="form-control" id="q1Opt3TextField" placeholder="Set Option 3" value="<%= survey.q1Opt3 %>" name="q1Opt3" required>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="q1Opt4TextField">Option 4</label>
                        <input type="text" class="form-control" id="q1Opt4TextField" placeholder="Set Option 4" value="<%= survey.q1Opt4 %>" name="q1Opt4" required>
                    </div>

                <% } %>

                
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                <a href="/survey-list/delete/<%= survey.id %>" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> Delete</a>

                <a href="/survey-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>                        
            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>