<!--
 * COMP229-015    Group 7
 * Group Project  Part 4 Final Release
 * Project Name:  Survey Donkey
 * 
 * Members (name/student ID):
 * Alina Fadeeva – 301249589
 * Nadia Velikaia – 301244426
 * Terence Chu – 301220117
 * Zhihao Yu – 301305633
 * Akash Arora – 300849838
 * Nithiyavany Vijai – 301212774
 * 
 * File name:     results.ejs
 * Description:   Survey results page
-->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Survey Results page -->
<br> <br> <br>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            
            <h1><%= title %></h1>

            <br>
            <button onclick="printpage()" class="btn btn-primary">Print Results</button>
            <br>
            <br>

            <% if(title == 'Multiple Choice Results') { %>
            <table class="table table-bordered table-striped table-hover mt-3">
                
                <th>Title</th>
                <th>Respondent</th>
                <th>Question</th>
                <th>Answer</th>

                <%CompletedSurveyList.forEach(completedSurvey => {%>
                    <tr>
                        <th scope="row"><%= completedSurvey.title %></th>
                        <td><%= completedSurvey.userName %></td>
                        <td><%= completedSurvey.q1 %></td>
                        <td><%= completedSurvey.answer %></td>
                    </tr>
                <%})%>
                <h3>Answers Distribution</h3>
                <table class="table table-bordered table-striped table-hover mt-3">
                    
                    <%optionList.forEach(optionList => {%>
                    <th class="text-center col-2"><%= optionList.q1Opt1 %></th>
                    <th class="text-center col-2"><%= optionList.q1Opt2 %></th>
                    <th class="text-center col-2"><%= optionList.q1Opt3 %></th>
                    <th class="text-center col-2"><%= optionList.q1Opt4 %></th>
                    
                    <tr>
                        <td class="text-center col-2"><%= per1 %>&nbsp;<i class="fas fa-percent"></i></td>
                        <td class="text-center col-2"><%= per2 %>&nbsp;<i class="fas fa-percent"></i></td>
                        <td class="text-center col-2"><%= per3 %>&nbsp;<i class="fas fa-percent"></i></td>
                        <td class="text-center col-2"><%= per4 %>&nbsp;<i class="fas fa-percent"></i></td>
                    </tr>
                    <%})%>
                    
                </table>
            </table>
            <% } %>

              <% if(title == 'Short Answers Results') { %>
                <table class="table table-bordered table-striped table-hover mt-3">
                
                    <th>Title</th>
                    <th>Respondent</th>
                    <th>Question</th>
                    <th>Answer</th>
    
                    <%CompletedSurveyList.forEach(completedSurvey => {%>
                        <tr>
                            <th scope="row"><%= completedSurvey.title %></th>
                            <td><%= completedSurvey.userName %></td>
                            <td><%= completedSurvey.q1 %></td>
                            <td><%= completedSurvey.answer %></td>
                        </tr>
                    <%})%>
                </table>
          <% } %>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
